<% provide(:title, 'Home') %>
  <script>
    $(document).ready(function() {
      var initialized = false;
      Glyphbase.Geo.trackPosition(function(latitude, longitude) {
        var center = new google.maps.LatLng(latitude, longitude);
        if(!initialized) {
          initialized = true;
          Glyphbase.Maps.initialize('map-canvas', 16, center, true);
          Glyphbase.Glyphs.displayNearby(latitude, longitude);
          Glyphbase.Maps.addUserMarker(latitude, longitude);
        } else {
          Glyphbase.Maps.updateUserPosition(latitude, longitude);
        }
      });
    });
  </script>

<section class="map">
  
  <div id="map-canvas">
    <div class="spinner large-top-padding">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <%= link_to "Add a Glyph", new_glyph_path, class: "button map-addGlyph" %>

</section>

<section class="homeContent">
  <h2 class="homeContent-tagline">Glyphbase helps you explore new spots.</h2>
  <p class="homeContent-info">Skate ipsum dolor sit amet, airwalk launch ramp risers locals full pipe 50-50 slide Bonite. Coffin launch ramp nose darkslide Memory Screen slam quarter pipe full-cab.</p>

  <% if !logged_in? %>
    <%= link_to signup_path do %>
      <span class="action-primary">Signup to Explore</span>
    <% end %>
  <% end %>

</section>