<% provide(:title, 'Home') %>
  <script>
    $(document).ready(function() {
      Glyphbase.Geo.trackPosition(function(latitude, longitude) {
        var center = new google.maps.LatLng(latitude, longitude);
        Glyphbase.Maps.initialize('map-canvas', 16, center);
      });
    });
  </script>

<section class="map">
  
  <div id="map-canvas"></div>
  <a class="button map-addGlyph" href="create.html">Add a Glyph</a>

</section>

<section class="homeContent">
  <h2 class="homeContent-tagline">Glyphbase helps you explore new spots.</h2>
  <p class="homeContent-info">Skate ipsum dolor sit amet, airwalk launch ramp risers locals full pipe 50-50 slide Bonite. Coffin launch ramp nose darkslide Memory Screen slam quarter pipe full-cab.</p>

  <% if !logged_in? %>
    <%= link_to signup_path do %>
      <span class="action-primary">Signup to Explore</span>
    <% end %>
  <% end %>

</section>