<% provide(:title, 'Sign up') %>
<section class="homeContent">
  <h2 class="homeContent-taglineForms">Sign Up!</h2>
  <%= render "user_form" %>

  <p>Have an account? <%= link_to "Login here", login_path, class: 'feature-Link' %></p>
</section>
  