<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Oops! Looks like there was a small problem with your signup form.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>