<% provide(:title, "Editing #{@glyph.title}") %>
<section class="glyphHeader-create">
</section>

<section class="glyphSidebar">
  <div class="glyphSidebar-location">
    <div id="map-canvas" class="single"></div>
  </div>
  <section class="glyphSidebar-address">
    <span class="glyphSidebar-addressLabel">Location</span>
    <address class="glyphSidebar-addressContent">
      <span class="label-inline">Lat</span> 37.4930984<br>
      <span class="label-inline">Long</span> -122.393039<br>
      <span class="label-inline">Near</span> In N Out<br>
    </address>
  </section>
</section>

<%= render "glyph_form" %>