<% provide(:title, 'Add a Glyph') %>
<section class="glyphHeader-create">
</section>

<section class="glyphSidebar">
  <div class="glyphSidebar-location">
    <div id="map-canvas" class="single">
      <div class="spinner small-top-padding">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <section class="glyphSidebar-address">
    <span class="glyphSidebar-addressLabel">Location</span>
    <address class="glyphSidebar-addressContent">
      <span class="label-inline">Lat</span> <span class="lat-inline"></span><br>
      <span class="label-inline">Long</span> <span class="lng-inline"></span><br>
    </address>
  </section>
</section>

<%= render "glyph_form" %>

<script>
  $(document).ready(function() {
    var initialized = false;
    Glyphbase.Geo.trackPosition( function(latitude, longitude) {
      var $latText      = $('.lat-inline');
      var $lngText      = $('.lng-inline');
      var $latToServer  = $('#glyph_latitude');
      var $lngToServer  = $('#glyph_longitude');
      var marker;

      if(!initialized) {
        $latText.text(latitude.toFixed(4));
        $lngText.text(longitude.toFixed(4));
        $latToServer.val(latitude);
        $lngToServer.val(longitude);
        var center = new google.maps.LatLng(latitude, longitude);
        initialized = true;
        Glyphbase.Maps.initialize('map-canvas', 18, center);
        marker = Glyphbase.Maps.addMarker(latitude, longitude, "Glyph", true);
        Glyphbase.Maps.centerOnMarker(marker);
        Glyphbase.Maps.trackMarker(marker, function(newLatitude, newLongitude) {
          $latText.text(newLatitude.toFixed(4));
          $lngText.text(newLongitude.toFixed(4));
          $latToServer.val(newLatitude);
          $lngToServer.val(newLongitude);
        })
      }
    });
  });
</script>