/** Lightbox images **/

.glyph-Lightbox, .glyph-Lightbox-small {
  border: 1px solid #ddddd9;
  border-radius: 5px;
}

.glyph-Lightbox:hover, .glyph-Lightbox-small:hover {
  border: 1px solid #aaa;
}

.glyph-Lightbox {
  max-width: 400px;
  max-height: 400px;
}

.glyph-Lightbox-small {
  max-width: 200px;
  max-height: 200px;
}

/** Link styling **/

.feature-Link {
  font-weight: bold;
  color: #f7ca0a;
}

/** Form elements **/

.login-form {
  text-align: left;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 5px;
    font-weight: normal;
  }
}

#session_remember_me {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #ddddd9 !important;
  padding: 6px !important;
  margin-top: 20px !important;
  margin-left: 2px !important;
  width: auto;
  margin-left: 0;
}

#session_remember_me:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f7ca0a !important;
  color: #99a1a7 !important;
  padding: 6px !important;
  border: 2px solid #adb8c0 !important;
}

.gravatarSidebar {
  position: relative;
  height: 20vw;
  width: 20vw;
  border: 2px solid #ddddd9;
  border-radius: 4px; 
  background: image-url("prof.png") no-repeat center;
}

.gravatarSidebar .caption { 
  position: absolute; 
  width: 100%; 
  height: 10%;
  min-height: 2.5rem;
  left: 0px; 
  bottom: 0px;
  color: #f7ca0a; 
  background: black; 
  text-align: center; 
  font-weight: bold; 
  opacity:0.7; 
}

.gravatarEdit {
  font-weight: bold;
  color: #f7ca0a;
}

@media screen and (max-width: 800px) {

  .gravatarSidebar {
    margin: auto;
    min-height: 12.5rem;
    min-width: 12.5rem;
    width: 20vw; 
  }

}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #ddddd9;
  }
}

/** Error messages **/

#error_explanation {
  color: #a94442;
  text-align: left;
  ul {
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .input-text, .input-textbox, .input-text--large {
    border-color: #ffaaaa;
    background-color: #f2dede;
  }
}