<a href="https://www.facebook.com/glyphbase" class="fb">
  <i class="fa fa-facebook"></i></span>
  <span class="info">
    <span class="follow">Like us on Facebook</span>
  </span>
</a>

<a href="https://twitter.com/@glyphbase" class="tw">
  <i class="fa fa-twitter"></i></span>
  <span class="info">
    <span class="follow">Follow us on Twitter</span>
  </span>
</a>
