
<div class="bar">
  <div class="bar-wrap">
    <ul class="links"> <!-- footer menu -->
      <li><a href="#">Home</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">About</a></li>
    </ul>

    <div class="social">
      <%= render 'layouts/footer_social' %>
    </div>
    <div class="clear"></div>
  </div>
</div>