  <header class="banner"></header>

  <nav class="nav">
    <a class='current' href="index.html">
      <h1 class="nav-brand"></h1>
    </a>
    <ul class="nav-links">
      <li class="nav-link">
        <%= link_to "Signup", signup_path, class: "nav-linkText" %>
      </li>
      <li class="nav-link">
        <a class="nav-linkText" href="#">Login</a>
      </li>
    </ul>
  <div class="nav-mobile-icon"></div>
  </nav>

  <div class="nav-mobile">
    <ul class="nav-mobileLinks">
      <li class="nav-mobileLink">
        <a class="nav-mobileLinkText">Login</a>
      </li>    
      <li class="nav-mobileLink">
        <a class="nav-mobileLinkText">Signup</a>
      </li>
    </ul>
  </div>